<?xml version="1.0" encoding="utf-8"?>
<!-- 主机器人模型文件，整合所有模块 -->
<robot name="steering_wheel_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- 引入机器人本体URDF模型 -->
    <xacro:include filename="$(find stee_new)/urdf/stee_new.urdf"/>

    <!-- 引入车轮关节传动配置 -->
    <xacro:include filename="$(find steering_wheel_chassis)/urdf/steering_wheel_chassis_trans.xacro"/>




    <gazebo>
        <!-- 加载 gazebo_ros_control 插件，连接 Gazebo 与 ros_control -->
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>  <!-- 命名空间（默认根目录） -->
            <controlPeriod>0.001</controlPeriod>  <!-- 控制周期（与 Gazebo 步长一致） -->
        </plugin>
    </gazebo>



<gazebo reference="L_F_S_wheel_Link">
        <mu1>0.1</mu1>          <!-- 法向摩擦系数（主） -->
        <mu2>0.1</mu2>          <!-- 切向摩擦系数（次） -->
        <!-- <fdir1>0 0 0</fdir1>    摩擦方向（0 0 0 表示各向同性） -->
        <!-- <slip1>0.01</slip1>     纵向滑移系数（可选：增大=更滑） -->
        <!-- <slip2>0.01</slip2>     横向滑移系数（可选：增大=更滑） -->
      <rolling>0.001</rolling>  <!-- 滚动摩擦系数（越小=滚动越顺滑） -->
      <torque>0.001</torque>    <!-- 旋转摩擦扭矩（越小=旋转阻力越小） -->
</gazebo>

<gazebo reference="L_B_S_wheel_Link">
        <mu1>0.1</mu1>          <!-- 法向摩擦系数（主） -->
        <mu2>0.1</mu2>          <!-- 切向摩擦系数（次） -->
        <!-- <fdir1>0 0 0</fdir1>    摩擦方向（0 0 0 表示各向同性） -->
        <!-- <slip1>0.01</slip1>     纵向滑移系数（可选：增大=更滑） -->
        <!-- <slip2>0.01</slip2>     横向滑移系数（可选：增大=更滑） -->
      <rolling>0.001</rolling>  <!-- 滚动摩擦系数（越小=滚动越顺滑） -->
      <torque>0.001</torque>    <!-- 旋转摩擦扭矩（越小=旋转阻力越小） -->
</gazebo>

<gazebo reference="R_F_S_wheel_Link">
        <mu1>0.1</mu1>          <!-- 法向摩擦系数（主） -->
        <mu2>0.1</mu2>          <!-- 切向摩擦系数（次） -->
        <!-- <fdir1>0 0 0</fdir1>    摩擦方向（0 0 0 表示各向同性） -->
        <!-- <slip1>0.01</slip1>     纵向滑移系数（可选：增大=更滑） -->
        <!-- <slip2>0.01</slip2>     横向滑移系数（可选：增大=更滑） -->
      <rolling>0.001</rolling>  <!-- 滚动摩擦系数（越小=滚动越顺滑） -->
      <torque>0.001</torque>    <!-- 旋转摩擦扭矩（越小=旋转阻力越小） -->
</gazebo>

<gazebo reference="R_B_S_wheel_Link">
        <mu1>0.1</mu1>          <!-- 法向摩擦系数（主） -->
        <mu2>0.1</mu2>          <!-- 切向摩擦系数（次） -->
        <!-- <fdir1>0 0 0</fdir1>    摩擦方向（0 0 0 表示各向同性） -->
        <!-- <slip1>0.01</slip1>     纵向滑移系数（可选：增大=更滑） -->
        <!-- <slip2>0.01</slip2>     横向滑移系数（可选：增大=更滑） -->
      <rolling>0.001</rolling>  <!-- 滚动摩擦系数（越小=滚动越顺滑） -->
      <torque>0.001</torque>    <!-- 旋转摩擦扭矩（越小=旋转阻力越小） -->
</gazebo>

</robot>
