<launch>
  <!-- 加载场地URDF到参数服务器 -->
  <param name="arena_description" 
         command="$(find xacro)/xacro '$(find zwei)/urdf/zwei.urdf'"/>
  
  <!-- 启动Gazebo服务 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find zwei)/worlds/competition.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <!-- 在Gazebo中生成场地模型 -->
  <node name="spawn_arena" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param arena_description -model competition_area -x 0 -y 0 -z 0"
        respawn="false" output="screen"/>

        
  <!-- Spawn a robot into Gazebo 
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file /home/maple/study2/world_ws4/src/wpr_simulation/models/wpb_home.model -urdf -model wpb_home" />
  -->
  <!-- 在gazebo中加载机器人模型 -->
  <!-- 设置机器人初始位置，避免与环境碰撞 -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param robot_description -model mbot -x 4.6 -y 0.4 -z 0 -Y 1.570796"
        respawn="false" output="screen"/> 
  <!--<node pkg="scantopoint" type="bridge_node" name="bridge_node" output="screen"/>-->
  <!-- Robot Description -->
  <arg name="model" default="$(find wpr_simulation)/models/wpb_home3.model"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> 
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find zwei)/config/rviz.rviz" />
</launch>